<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OpenID Connect Provider - PCLL</title>
    <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div style="display:flex;width:100%;height:100%;align-items:center;justify-content:space-around;">
      <div style="padding:0 10px">
        <img style="width:100%" src="public/img/pcll-logo.svg" />
        <h1>OpenID Connect Provider</h1>
      </div>
    </div>
    <script src="public/vendor/jquery/jquery.min.js"></script>
    <script src="public/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
